body{

  background-color:rgb(152, 31, 31);
}

 .container{
   display:flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 35px;

 }

 .over{
   display:flex;
   justify-content: center;
   flex-direction: row;

 }
 .under{
   margin:auto;
   margin-top: 45px;

 }




 .item{

   background-color: white;
   border-radius: 15px;
   text-align: center;
   width:200px;
   height:40px;
   padding: 10px;
   font-size: 22px;
   text-shadow: 1px 1px 1px;
   font-family: serif;

 }




.item:hover{
  background-color: black;
}

.item:hover a{
  color: white;
}



a{
  color: black;

}

.rubrik{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;

}

.välkommen{
  font-size: 35px;
  color: black;
  background-color: white;
  width:270px;
  text-align: center;
  margin: auto;
  padding:5px;
  border-radius: 22px;
  box-shadow: 1px 1px 22px;
  font-family: serif;


}

.text{

  font-size: 20px;
  color: white;
  background-color: grey;
  width:260px;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-bottom-style: groove;
  border-radius: 22px;
  font-family: serif;
  box-shadow: 1px 1px 10px;
  margin-top: 15px;
}

.kommentar{
  margin:auto;
  margin-top: 10px;
  font-size: 20px;
  padding :10px;
  color: black;
  text-shadow: 1px 1px 1px;
  text-align: center;
  font-family: serif;
  background-color: white;
  border-radius: 7px;

}

.rubriklänk{

  font-family: fantasy;
}
