body{

  background-color:rgb(152, 31, 31);
}

 .container{
   display:flex;
   justify-content: center;
   flex-direction: column;
   margin-top: 35px;

 }

 .over{
   display:flex;
   justify-content: center;
   flex-direction: row;
   z-index: 2;

 }
 .under{
   display:flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   margin:auto;
   margin-top: 80px;
   width:1000px;
   z-index: 1;

 }


 .item{

   background-color: white;
   border-radius: 15px;
   text-align: center;
   width:200px;
   height:40px;
   padding: 10px;
   font-size: 22px;
   text-shadow: 1px 1px 1px;
   box-shadow: 1px 1px 20px;
   font-family: serif;

 }


.item:hover{
  background-color: black;
}

.item:hover a{
  color: white;
}

table{

  width: 1000px;
  background-color:rgb(140, 41, 41);
  border-radius: 20px;
  padding: 10px;
  text-align: left;
  margin: auto;
  margin-top: 20px;

}

th{

  font-size: 25px;
}

td{

  font-size: 18px;
}


a{
  color: black;

}

img{

  box-shadow: 1px 1px 20px;
}

.rubrik{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;

}

.valkommen{
  font-size: 35px;
  color: black;
  background-color: white;
  width:270px;
  text-align: center;
  margin: auto;
  padding:5px;
  border-radius: 22px;
  box-shadow: 1px 1px 22px;
  font-family: serif;


}

.text{

  font-size: 20px;
  color: white;
  background-color: grey;
  width:260px;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-bottom-style: groove;
  border-radius: 22px;
  font-family: serif;
  box-shadow: 1px 1px 10px;
  margin-top: 15px;
}

.kommentar{
  margin:auto;
  margin-top: 10px;
  font-size: 20px;
  padding :10px;
  color: black;
  text-shadow: 1px 1px 1px;
  text-align: center;
  font-family: serif;
  background-color: white;
  border-radius: 7px;
  box-shadow: 1px 1px 20px;

}

.rubriklänk{

  font-family: fantasy;
}


.spelare{

  text-align: center;
  width:200px;
  background-color: white;
  color: black;
  font-size: 25px;
  font-family: fantasy;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px;


}




.dropdown{

  display: none;
  padding: 10px;
  background: black;
  border-radius: 10px;
  z-index: 2;

}

.item:hover .dropdown{

  display: block;
}

h1{

  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px;
  width:200px;
  margin: 20px;
  margin-bottom: 60px;
  text-align: center;
}

.box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
  margin-top: 80px;
}


.spelarbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
  background-color: blue;
  background-color:rgb(140, 41, 41);
  border-radius: 10px;

}

.sponsorer{

    background-color:rgb(140, 41, 41);
    font-size: 18px;
    padding: 40px;
    border-radius: 15px;
    text-align: left;
    margin-top:30px;
}

button{

  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px;
}
